/* global content block styling */
.content-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-header {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 12px;
}
.content-data {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 200;
    font-size: 50px;
    padding-left: 12px;
    padding-right: 12px;
}
.content-details {
    display: flex;
    justify-content: space-between;
}
.content-details-header {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.content-details-header i {
    font-size: 1.3em;
    margin-left: 12px;
    margin-right: 12px;
}
.content-details-data {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    margin-right: 12px;
}

/* content-block-1*/
#content-1 i {
    font-size: 4em;
    color: #10a0de;
    padding-left: 12px;
}
#content-1-data {
    color: #10a0de;
}

#content-1-details i,
#content-1-details .content-details-data {
    color: #ff8a00;
}

/* content-block-2*/
#content-2 i {
    font-size: 4em;
    color: #75c237;
    padding-left: 12px;
}
#content-2-data {
    color: #75c237;
}
#content-2-details i,
#content-2-details .content-details-data {
    color: #ff8a00;
}

/* content-block-3*/
#content-3 i {
    font-size: 4em;
    color: #ffd162;
    padding-left: 12px;
}
#content-3-data {
    color: #ffd162;
}
#content-3-details i,
#content-3-details .content-details-data {
    color: #ff8a00;
}

/* content-block-4*/
#content-4 i {
    font-size: 4em;
    color: #ff8a00;
    padding-left: 12px;
}
#content-4-data {
    color: #ff8a00;
}
#content-4-details i,
#content-4-details .content-details-data {
    color: #ff8a00;
}

/* content-block-5*/
#content-5 i {
    font-size: 4em;
    color: #75c237;
    padding-left: 12px;
}
#content-5-data {
    color: #75c237;
}
#content-5-details i,
#content-5-details .content-details-data {
    color: hsl(32, 100%, 50%);
}
/*for chart 1/6/7 table*/
#chart-1 td,
#chart-6 td,
#chart-7 td {
    color: white;
}
#chart-1 .table-pointer,
#chart-6 .table-pointer {
    cursor: pointer;
}
#chart-1 .table-pointer:hover,
#chart-6 .table-pointer:hover {
    color: grey;
}
/* For chart 5 tables */
th {
    color: #f0f0f0 !important;
    padding: 0 !important;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
td {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0 !important;
}

#flexi-4 a {
    cursor: pointer;
}

#flexi-4 a:hover {
    color: grey;
}

/* For flexi 1 map  */
#flexi-1 {
    height: 445px;
}
.marker-header {
    display: flex;
}
.marker-counter {
    transform: translateY(5px);
}
.marker-header > i {
    font-size: 0.7em;
    display: inline;
}
.leaflet-popup th {
    color: black !important;
}
.fa-circle {
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0px 0px 4px 4px #747de8;
    animation: glow 1.5s linear infinite alternate;
}
.individual-circle {
    font-size: 0.5em;
}
.marker-text,
.marker-counter {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
}
@keyframes glow {
    to {
        box-shadow: 0px 0px 4px 4px #ffffff;
    }
}

.marker-cluster {
    background-color: transparent !important;
}

.marker-cluster div {
    width: 20px !important;
    height: 20px !important;
    box-shadow: 0px 0px 4px 4px #747de8;
    background-color: white !important;
    animation: glow 1.5s linear infinite alternate;
}

.marker-cluster > div > span {
    transform: translateY(-5px);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #202020;
    display: inline-block;
}

/* For flexi-2-3 */
#flexi-2-3-parent {
    width: 357px;
}
#flexi-3-parent {
    transform: translateY(230px);
}

/* For flexi-4 table  */
#flexi-4 img {
    width: 14px;
    border-radius: 50%;
}

/* Draggable boxes styling */
.draggable {
    border: 1px solid #606060;
}

.draggable-infobox {
    /* border: 1px solid white; */
    color: #f0f0f0;
    background-color: #202020;
    text-align: center;
    resize: both;
    overflow: hidden;
    width: 357px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.draggable-charts {
    color: #f0f0f0;
    background-color: #202020;
    text-align: center;
    resize: both;
    overflow: hidden;
    width: 357px;
    height: 230px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.draggable-flexi {
    color: #f0f0f0;
    background-color: #202020;
    text-align: center;
    resize: both;
    overflow: hidden;
    width: 730px;
    height: 460px;
}

.draggable-header {
    cursor: move;
    background: rgb(96, 96, 96);
    background: linear-gradient(90deg, rgba(96, 96, 96, 0) 0%, rgba(96, 96, 96, 0.5) 100%);
    color: #ff9900;
    text-align: right;
    text-justify: center;
    line-height: 0;
    padding-left: 6px;
}
.fa-xmark {
    cursor: pointer;
    margin-right: 3px;
    margin-left: 16px;
}
.fa-info {
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    transform: translateY(-2px);
}
.fa-arrow-rotate-right {
    cursor: pointer;
    margin-right: 3px;
    margin-left: 16px;
}
.fa-sort-down {
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transform: translateY(-3px);
}
.fa-xmark:hover,
.fa-info:hover,
.fa-arrow-rotate-right:hover,
.fa-sort-down:hover {
    color: #a0a0a0;
}
.col-box {
    padding: 0 !important;
}

/* Apex Charts Styling */
.apexcharts-tooltip {
    background: #f3f3f3;
    color: orange;
}
/* Apex Charts Tooltip  */
.apexcharts-tooltip.apexcharts-theme-light {
    border: none !important;
    background-color: rgb(0, 0, 0, 0) !important;
    box-shadow: none !important;
    transform: translateY(-30px);
}
#tooltip-bottom,
.tooltip-bottom-candle {
    color: #f0f0f0 !important;
    font-family: "Nunito", sans-serif !important;
    font-weight: 900 !important;
    font-size: 1em !important;
    text-align: center !important;
}

.tooltip-bottom-candle {
    font-size: 1em !important;
}

.btn-danger {
    font-family: "Tourney", cursive !important;
    font-weight: 700 !important;
    font-weight: bold !important;
}

/* For responsiveness */
/* Responsiveness is mainly handled in js */
.col-4 {
    width: 24%;
}
