.draggable {
    border: 1px solid #d3d3d3;
    color: white;
    background-color: #202020;
    text-align: center;
    resize: both;
    overflow: auto;
    border: none;
}

.draggable-header {
    cursor: move;
    background: rgb(96, 96, 96);
    background: linear-gradient(90deg, rgba(96, 96, 96, 0) 0%, rgba(96, 96, 96, 0.5) 100%);
    color: #ff9900;
    text-align: right;
    line-height: 0;
}

#big-black-space {
    height: 1000px;
}

.fa-xmark {
    cursor: pointer;
    margin-right: 3px;
    margin-left: 16px;
}
.fa-xmark:hover {
    color: #a0a0a0;
}

img {
    width: 250px;
}

@media screen and (min-width: 576px) {
    /* css rules for large phones from 576 to 768px (sm) */
}
@media screen and (min-width: 768px) {
    /* css rules for tablets from 768 to 992px (md) */
}
@media screen and (min-width: 992px) {
    /* css rules for laptops from 992 to 1200px (lg) */
}
@media screen and (min-width: 1200px) {
    /* css rules for large screens from 1200 onwards (xl) */
}

/* Change Coin Styling
#list-of-cryptos a {
    color: black;
}
#list-of-cryptos img {
    width: 1em;
    height: auto;
    margin-right: 0.5em;
}

.dropdown-menu {
    max-height: 100vh;
    overflow-y: auto;
}

#new-coin-dropdown img {
    width: 1em;
    height: auto;
    margin-left: 0.1em;
}

#list-of-days a {
    color: black;
} */
