/* Slides in general  */
#slides-parent {
    min-height: 92vh;
    display: flex;
    justify-content: center;
}

.slides {
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
}

.hidden {
    transform: translateX(-150%);
}

.show {
    transform: translateX(0);
    transition: transform 0.2s linear;
}

/* Slides Nav Bar  */
#slides-nav-bar {
    pointer-events: none;
}

#slides-nav-bar .col {
    height: 9vh;
    text-align: center;
    font-size: 2em;
}

#slides-nav-bar i {
    pointer-events: auto;
    border-radius: 40%;
}

#hash-output td {
    font-size: 0.3em;
}

#hash-example-2-table {
    overflow-x: auto;
}
/* Slide 0 Styling  */
#slide-0 .col-left {
    text-align: right;
}

#slide-0 .col-right {
    text-align: left;
}

/* Slide 5 Styling  */
#slide-5 input {
    text-align: center;
}

@media screen and (min-width: 576px) {
    /* css rules for large phones from 576 to 768px (sm) */
    #slides-nav-bar .col {
        height: 9vh;
        font-size: 2.5em;
    }
}
@media screen and (min-width: 768px) {
    /* css rules for tablets from 768 to 992px (md) */
    #slides-nav-bar .col {
        height: 9vh;
        font-size: 3.5em;
    }
}
@media screen and (min-width: 992px) {
    /* css rules for laptops from 992 to 1200px (lg) */
    #slides-nav-bar .col {
        height: 10vh;
        font-size: 4em;
    }
}
@media screen and (min-width: 1200px) {
    /* css rules for large screens from 1200 onwards (xl) */
    #slides-nav-bar .col {
        height: 10vh;
        font-size: 4em;
    }
}
