/* css rules for small phones from 380 to 576px */
/* For all buttons  */
.btn-outline-light {
    border-color: rgba(0, 0, 0, 0) !important;
}

/* landing image */
#landing-image {
    width: 100%;
    min-height: 300px;
}

#landing-image-parent-div {
    position: relative;
}

.fa-angle-down {
    font-size: 1.4rem;
}

#landing-image-text {
    /* Sizing */
    width: 100%;
    height: 40%;
    /* Centering the textbox in the parent div  */
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* Aligning the divs inside */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* Asthetics */
    background-color: rgba(32, 32, 32, 0.8);
    text-align: center;
}

#landing-image-text-1 {
    font-size: 2rem;
}
#landing-image-text-2 {
    font-size: 1rem;
}
#landing-image-btn {
    padding: 0px 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}
#landing-image-btn p {
    font-size: 1rem;
    margin: 0px;
}

/* Pick topic header  */
#pick-topic {
    text-align: center;
}

/* cards  */
.card-bg {
    width: 80%;
}

.card-left {
    text-align: left;
}
.card-right {
    text-align: right;
}
.card-div {
    display: flex;
    min-height: 150px;
}
.card {
    border: none;
    margin-bottom: 1em;
    border-radius: 5% 95% 5% 95% / 95% 5% 95% 5%;
    overflow: hidden;
    position: relative;
}
.card-button {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(96, 96, 96, 0.5);
    opacity: 0;
}

.card-button:hover {
    opacity: 100;
}

.fa-circle-arrow-right {
    font-size: 4em;
}

#card-1 {
    background-image: url("../../images/index/card-1.jpeg");
}
#card-2 {
    background-image: url("../../images/index/card-2.jpg");
}
#card-3 {
    background-image: url("../../images/index/card-3.jpeg");
}
#card-4 {
    background-image: url("../../images/index/card-4.jpeg");
}

@media screen and (min-width: 576px) {
    /* css rules for large phones from 576 to 768px (sm) */
    #landing-image-text {
        height: 60%;
    }
    #landing-image-text-1 {
        font-size: 2.5rem;
    }
    #landing-image-text-2 {
        font-size: 1.5rem;
    }
    #landing-image-btn p {
        font-size: 1.5rem;
    }
    .fa-angle-down {
        font-size: 2rem;
    }
    .card-bg {
        width: 200%;
    }
    .card-div {
        min-height: 210px;
    }
}
@media screen and (min-width: 768px) {
    /* css rules for tablets from 768 to 992px (md) */
    #landing-image-text {
        height: 60%;
    }
    #landing-image-text-1 {
        font-size: 3.5em;
    }
    #landing-image-text-2 {
        font-size: 1.5em;
    }
    #landing-image-btn p {
        font-size: 1.5rem;
    }
    .card-bg {
        width: 120%;
    }
}
@media screen and (min-width: 992px) {
    /* css rules for laptops from 992 to 1200px (lg) */
    #landing-image-text {
        height: 50%;
    }
    #landing-image-text-1 {
        font-size: 4em;
    }
    #landing-image-text-2 {
        font-size: 2em;
    }
    #landing-image-btn {
        font-size: 1em;
    }
    .fa-angle-down {
        font-size: 3rem;
    }
    .card-div {
        display: block;
    }
    .card-lg-img {
        height: 180px;
    }
    .card-body {
        height: 180px;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    /* css rules for large screens from 1200 onwards (xl) */
    #landing-image-text {
        height: 45%;
    }
    #landing-image-text-1 {
        font-size: 5em;
    }
    #landing-image-text-2 {
        font-size: 2em;
    }
    #landing-image-btn {
        font-size: 1em;
    }
}
