/* map styling  */
#map {
    height: 50vh;
}

#map-container {
    text-align: center;
}

/* map icons  */
.marker-header {
    display: flex;
}
.marker-counter {
    transform: translateY(5px);
}
.marker-header > i {
    font-size: 0.7em;
    display: inline;
}
.leaflet-popup th {
    color: black !important;
}
.fa-circle {
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0px 0px 4px 4px #FF9900;
    animation: glow 1.5s linear infinite alternate;
}
.individual-circle {
    font-size: 0.5em;
}
.marker-text,
.marker-counter {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: white;
}
@keyframes glow {
    to {
        box-shadow: 0px 0px 4px 4px #ffffff;
    }
}

.marker-cluster {
    background-color: transparent !important;
}

.marker-cluster div {
    width: 20px !important;
    height: 20px !important;
    box-shadow: 0px 0px 4px 4px #747de8;
    background-color: white !important;
    animation: glow 1.5s linear infinite alternate;
}

.marker-cluster > div > span {
    transform: translateY(-5px);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #202020;
    display: inline-block;
}

@media screen and (min-width: 576px) {
    /* css rules for large phones from 576 to 768px (sm) */
}
@media screen and (min-width: 768px) {
    /* css rules for tablets from 768 to 992px (md) */
}
@media screen and (min-width: 992px) {
    /* css rules for laptops from 992 to 1200px (lg) */
}
@media screen and (min-width: 1200px) {
    /* css rules for large screens from 1200 onwards (xl) */
}
