/* title  */
.title {
    text-align: center;
}

/* Apex Charts Dashboards  */
.apexcharts-toolbar {
    transform: translate(-40px, 25px);
}
/* Apex Charts */
#lineChart {
    background-color: #202020;
}

/* Apex Charts Tooltip  */
.apexcharts-tooltip.apexcharts-theme-light {
    border: none !important;
    background-color: rgb(0, 0, 0, 0) !important;
    box-shadow: none !important;
    transform: translateY(-30px);
}
#tooltip-top {
    color: #f0f0f0 !important;
    font-family: "Nunito", sans-serif !important;
    font-weight: 900 !important;
    font-size: 1em !important;
    text-align: center !important;
}
#tooltip-bottom,
.tooltip-bottom-candle {
    color: #f0f0f0 !important;
    font-family: "Nunito", sans-serif !important;
    font-weight: 900 !important;
    font-size: 1.2em !important;
    text-align: center !important;
}

/* Information block */
.halving-card {
    background: none !important;
    border: none !important;
    min-height: 200px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.halving-card > span {
    margin-bottom: 12px;
}
.halving-card > p {
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #202020;
    border: 1px #606060 solid;
    padding-left: 12px;
    padding-right: 12px;
}

.popover {
    background-color: #202020 !important;
    overflow: hidden;
    max-height: 0;
    opacity: 0%;
    transition: all 0.2s linear;
    padding: 10px;
}

.halving-card:hover .popover {
    min-height: 200px;
    opacity: 100%;
}

@media screen and (min-width: 576px) {
    /* css rules for large phones from 576 to 768px (sm) */
    .apexcharts-toolbar {
        transform: translate(-40px, -20px);
    }
}
@media screen and (min-width: 768px) {
    /* css rules for tablets from 768 to 992px (md) */
}
@media screen and (min-width: 992px) {
    /* css rules for laptops from 992 to 1200px (lg) */
}
@media screen and (min-width: 1200px) {
    /* css rules for large screens from 1200 onwards (xl) */
}
