.debug {
    border: 1px red solid;
}

.debugx{
    border-right: 1px cyan solid;
    border-left: 1px cyan solid;
}

/* Customizing bootstrap checkboxes  */
.form-switch {
    margin-left: 12px;
}
.form-check-input {
    border: none !important;
    box-shadow: none !important;
    margin-top: 0 !important;
}
.form-check-input:not(:checked) {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba%28 255, 153, 0, 1%29'/></svg>") !important;
    background-color: #f0f0f0 !important;
}
.form-check-input:checked {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba%28 240, 240, 240, 1%29'/></svg>") !important;
    background-color: #ff9900 !important;
}

/* navbar  */
.bitcoin-logo {
    color: orange;
}

.btn-outline-dark {
    border: none;
    width: 100%;
}

.fa-bars {
    color: #e0e0e0;
}

a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 900;
}

a:hover {
    color: #e0e0e0;
}

h2{
    margin-bottom: 10px;
}

p{
    margin-bottom: 10px;
}

.navbar {
    padding: 0px !important;
}

.navbar-font {
    font-family: "Tourney", cursive;
    font-weight: 900;
}

.navbar-brand {
    font-size: 1.1em;
}

.nav-item {
    font-size: 1em;
}

.dropdown-items {
    font-size: 1em;
}

#navbar-dropdown{
    z-index: 100000;
}

/* footer  */
#facebook-btn {
    background-color: #3b5998;
}
#linkedin-btn {
    background-color: #0082ca;
}
#github-btn {
    background-color: #333333;
}

@media screen and (min-width: 576px) {
    /* css rules for large phones from 576 to 768px (sm) */
    .navbar-brand {
        font-size: 1.6em;
    }

    .nav-item {
        font-size: 1.2em;
    }

    .dropdown-items {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 768px) {
    /* css rules for tablets from 768 to 992px (md) */
    .navbar-brand {
        font-size: 1.8em;
    }

    .nav-item {
        font-size: 1.3em;
    }

    .dropdown-items {
        font-size: 1.3em;
    }
}
@media screen and (min-width: 992px) {
    /* css rules for laptops from 992 to 1200px (lg) */
    .navbar-brand {
        font-size: 2em;
    }

    .nav-item {
        font-size: 1.4em;
    }

    .dropdown-items {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 1200px) {
    /* css rules for large screens from 1200 onwards (xl) */
    .navbar-brand {
        font-size: 2em;
    }

    .nav-item {
        font-size: 1.5em;
    }

    .dropdown-items {
        font-size: 1.5em;
    }
}
